html,
body {
  padding: 0;
  margin: 0;
  background: url("assets/bg.jpg") fixed;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  padding-right: 0 !important
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}